* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 20px;
    background-image:  url("./images/coronavirus_cover_colour_change_1024.jpg");
}

#headerTitle {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

div.content,
div.overview_content {
    width: 80%;
    margin: 0 auto;
}

#aboutUs_btn {
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: black;
    opacity: 70%;
}
#myTab{
    color:cornflowerblue
}
#AboutUs {
    /*display: none;
    border: 2px solid black;
    position: absolute;
    margin-top: 50px;
    top: 30%;
    left: 10%;
    right: 10%;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    background-color: cadetblue;*/

    display: none;
    width: 70%;
    margin: 0 auto;
}

#AboutUs_content {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    margin: 0 auto;
    text-shadow: 2px 2px 5px green, 0 0 10px red;
    box-shadow: 10px 10px 5px grey;
}
#AboutCorona {
    padding-top: 20px;
}
#Symptoms{
    padding-top: 20px;
}
#symptomsImg{
    padding-left: 130px;
}
#Prevention{
    padding-top: 20px;
}

div.title {
    text-align: center;
}

td.data,
th.title {
    padding: 0px 10px;
    width: 10%;
    text-align: center;
}

th.title {
    background-color: cornflowerblue;
}