* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 20px;
    background-image: url("./images/shutterstock_264980540-1024x426-Copy.webp");
}

#headerTitle {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

div.content,
div.overview_content {
    width: 80%;
    margin: 0 auto;
}

#A {
    margin: 10px;
}

#aboutUs_btn {
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: black;
    opacity: 70;
}

#myTab {
    color: gray;
}

#AboutUs_content {
    padding: 15px;
    margin-top: 10px;
    display: none;
    width: 70%;
    margin: 0 auto;
    border: 2px solid black;
}

#MK_content {
    display: block;
}

#AboutCorona,
#Symptoms,
#Prevention,
#Suggestions {
    padding-top: 20px;
}

.test-img {
    margin: 0 auto;
}

.img-preventions {
    border-radius: 50%;
}

#symptomsImg {
    padding-left: 130px;
}

div.title {
    text-align: center;
}

td.data,
th.title {
    padding: 0px 10px;
    width: 10%;
    text-align: center;
}

th.title {
    background-color: cornflowerblue;
}



.test {
    margin: 0 auto;
    padding: 5%;
    font-weight: bold;
}

p {
    text-align: justify;
}

body {
    background-image: url("./images/posledenpat.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ContactsContect {
    text-align: center
}


/*CARDS-------------------------------------------------------------*/

.card-deck {
    margin: 15px;
    justify-content: space-around;
}

.card {
    border: solid black 1px;
    padding: 2px;
}

.card-footer {
    justify-content: center;
    margin: 0 auto;
    background-color: white;
}

.card-img-top {
    width: 100%;
    height: 50%;
}
#Concats{
    margin-top: 20px;
}


/*FOOTER------------------------------------------------------------*/

#information_footer {
    padding-top: 20px;
}

#info_title_footer {
    justify-content: center;
    margin: 0 auto;
}

#info_footer {
    justify-content: center;
    margin: 0 auto;
}

#wrapper,
#top5Today,
#top5TodayDeath,
#overview,
#content {
    display: none;
}
#wrapper {
    background: #e1e1e1;
    top: 20%;
    left: 20%;
    width: 820px;
    position: fixed;
    z-index: 1000;
    padding: 15px;
    height: 70%;
    border:solid black 2px;
}
#close-icon {
    float:right;
    cursor: pointer;
}