* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    position: fixed;
    top: 0px;
    z-index: 1000;
    font-size: 12px;
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 20px;
    background-image: url("./images/shutterstock_264980540-1024x426-Copy.webp");
}

#headerTitle {
    font-size: 35px;
    font-weight: bold;
    color: white;
}

div.content,
div.overview_content {
    width: 80%;
    margin: 0 auto;
}

#A {
    margin: 10px;
}

#aboutUs_btn {
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: black;
    opacity: 70;
}

#top-of-content6,
#top-of-content5,
#top-of-content4,
#top-of-content3,
#top-of-content2,
#top-of-content {
    padding-top: 150px;
}

#myTab {
    color: gray;
    position: fixed;
    margin-top: 100px;
    z-index: 1000;
    background-color: white;
    width: 100%;
}

#MK_content {
    display: block;
}
#Contacts,
#AboutCorona,
#Symptoms,
#Prevention,
#Suggestions {
    padding-top: 20px;
}

.test-img {
    margin: 0 auto;
}

.img-preventions {
    border-radius: 50%;
}

#symptomsImg {
    padding-left: 130px;
}

div.title {
    text-align: center;
}

td.data,
th.title {
    padding: 0px 10px;
    padding-top: 10px;
    width: 10%;
    text-align: center;
}

th.title {
    background-color: cornflowerblue;
}

.test {
    margin: 0 auto;
    padding: 5%;
    font-weight: bold;
}

p {
    text-align: justify;
}

body {
    background-image: url("./images/posledenpat.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ContactsContect {
    text-align: center
}


/*CARDS-------------------------------------------------------------*/

.card-deck {
    margin: 15px;
    justify-content: space-around;
}

.card {
    border: solid black 1px;
    padding: 2px;
}

.card-footer {
    justify-content: center;
    margin: 0 auto;
    background-color: white;
}

.card-img-top {
    width: 100%;
    height: 50%;
}

#Concats {
    margin-top: 20px;
}


/*FOOTER------------------------------------------------------------*/

#information_footer {
    margin-top: 20px;
    padding-top: 20px;
    margin: 0 auto;
    justify-content: center;
}

#info_title_footer {
    justify-content: center;
    margin: 0 auto;
}

#info_footer {
    justify-content: center;
    margin: 0 auto;
}

#AboutUs_content,
#wrapperMK,
#wrapperOverview,
#wrapper5Content,
#wrapper5Today,
#wrapper5Deaths {
    display: none;
}

#AboutUs_content,
#wrapperMK,
#wrapperOverview,
#wrapper5Content,
#wrapper5Today,
#wrapper5Deaths {
    background: white;
    top: 20%;
    left: 23%;
    width: 820px;
    position: fixed;
    z-index: 10000;
    padding: 15px;
    height: 70%;
    border: solid black 2px;
}

#close-icon {
    float: right;
    cursor: pointer;
}

#sources {
    justify-content: center;
    margin: 0 auto;
    font-size: 10px;
    border: 1px solid black;
    padding: 10px 5px;
}

a {
    font-size: 14px;
}

#footer {
    margin: 0 auto;
    justify-content: center;
}
.card{
    align-items:center;
    background:none;
    border: none;
    text-align:center;
    margin:5px;
}
.ContactsContect {
    font-weight: 600;
}
.phone-icon {
    width: 20%;
    height: 15%
}

.card-img-top {
    width: 100%;
    height:50%;
}